<nav>
  <form class="item-form">
    <label for="name">Name: </label>
    <input type="text" class="input-name" name="name" />
    <label for="qty">Quantity: </label>
    <input type="number" class="input-qty" name="qty" />
    <label for="amount">Amount: </label>
    <input type="number" name="amount" class="input-amount" />
    <button class="btn btn-item-add">Add</button>
  </form>
</nav>
