<section>
  <form>
    <label for="name">Name: </label>
    <input type="text" class="input-name" name="name" />
    <label for="qty">Quantity: </label>
    <input type="number" class="input-qty" name="qty" />
    <label for="amount">Amount: </label>
    <input type="number" name="amount" class="input-amount" />
    <button class="btn btn-item-add">Add</button>
  </form>
</section>

<script>
  document.querySelector(".btn-item-add").onclick = function (event) {
    let name = document.querySelector(".input-name").value;
    let qty = document.querySelector(".input-qty").value;
    let amount = document.querySelector(".input-amount").value;

    var body = {};

    body.name = document.querySelector(".input-name").value;
    body.qty = document.querySelector(".input-qty").value;
    body.amount = document.querySelector(".input-amount").value;
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "http://localhost:3000/items", true);
    xhr.setRequestHeader("Content-Type", "Application/json");
    xhr.onload = function () {
      let item = JSON.parse(this.responseText).updatedItem;
      document.querySelector(".input-name").value = "";
      document.querySelector(".input-qty").value = "";
      document.querySelector(".input-amount").value = "";
    };
    xhr.send(JSON.stringify(body));
  };
</script>
